@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body {
  font-family: 'Open Sans', sans-serif;
}

.head {
  font-size: 2em;
  font-weight: 200;
}

h1#title{
  margin-bottom: 0;
  text-align: left;
}

p#subtitle {
    font-size: 1.em;
    margin: 0 0 0 4.7em;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#chatbox {
  overflow: visible;
  /*! margin-left: 50%; */
  /*! margin-top: 15em; */
  height: 30em;
  border-style: dotted;
  width:  75%;
}

#title{
  text-align: center;
}

.left_dashboard {
  float: left;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.right_dashboard {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.loader {
  margin: 0 0 2em;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
  visibility: hidden;
}

#chart-row-speakers{
  margin-left: 25%;
}

#chart-ring-duration{
  margin-left: 33%;
}

:focus { outline: none; }


/*Position the logo sign*/

.logo-sign {
  position: relative;
  width: 2em;
  height: 1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*Create the logo sign animations*/

.logo-sign__line {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-animation: wavy 1s ease infinite forwards;
          animation: wavy 1s ease infinite forwards;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.logo-sign__line:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.logo-sign__line:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.logo-sign__line:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.logo-sign__line:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.logo-sign__line:nth-child(5) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.logo-sign__line:nth-child(6) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.logo-sign__line:nth-child(7) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

@-webkit-keyframes wavy {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.6);
            transform: scaleY(0.6);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes wavy {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.6);
            transform: scaleY(0.6);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -50px;
  top: 40px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}

.ribbon a {
  border: 1px solid #ff0000;
  color: #ff0000;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  opacity: 0.3
}


