<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <div class="ribbon">
            <a href="https://github.com/chrislgarry/HarkVisualizer/wiki/Wiki">Documentation</a>
        </div>
        <title>Hark Visualizer</title>
        <link rel=stylesheet type=text/css href="{{ static_url("css/dc.css") }}"/>
        <link rel=stylesheet type=text/css href="{{ static_url("css/style.css") }}"></link>
        <a href="https://github.com/chrislgarry/HarkVisualizer"></a>
    </head>

    <body>
        <div class="header">
            <h1 id="title">
                <svg class="logo-sign" xmlns="http://www.w3.org/2000/svg" width="54" height="30" viewBox="-55 25 60 30" fill="#FF0000">
                    <g class="logo-sign__box">
                        <polygon class="logo-sign__line" points="-1,37.333 -1,42.667 -3,44 -3,36"/>
                        <polygon class="logo-sign__line" points="-5,33.333 -5,46.667 -7,48 -7,32"/>
                        <polygon class="logo-sign__line" points="-9,29.333 -9,50.667 -11,52 -11,28"/>
                        <polygon class="logo-sign__line" points="-13.5,25 -13,25.333 -13,54.667 -13.5,55 -15,54 -15,26"/>
                        <polygon class="logo-sign__line" points="-17,28.667 -17,51.333 -19,50 -19,30"/>
                        <polygon class="logo-sign__line" points="-21,32.667 -21,47.333 -23,46 -23,34"/>
                        <polygon class="logo-sign__line" points="-25,36.667 -25,43.333 -27,42 -27,38"/>
                    </g>
                    <g class="logo-sign__box">
                        <polygon class="logo-sign__line" points="-31,36.667 -31,43.333 -29,42 -29,38"/>
                        <polygon class="logo-sign__line" points="-35,32.667 -35,47.333 -33,46 -33,34"/>
                        <polygon class="logo-sign__line" points="-39,28.667 -39,51.333 -37,50 -37,30"/>
                        <polygon class="logo-sign__line" points="-42.5,25 -43,25.333 -43,54.667 -42.5,55 -41,54 -41,26"/>
                        <polygon class="logo-sign__line" points="-47,29.333 -47,50.667 -45,52 -45,28"/>
                        <polygon class="logo-sign__line" points="-51,33.333 -51,46.667 -49,48 -49,32"/>
                        <polygon class="logo-sign__line" points="-55,37.333 -55,42.667 -53,44 -53,36"/>
                    </g>
                </svg>
                <span style="color: red">H</span>ark Visualizer
            </h1>
            <p id="subtitle">
                Speech detection and transcription
            </p>
        </div>
        <div id="content">
            <div class="left_dashboard">
                <p id="transcripttitle">Utterances per Azimuth</p>
                <div id="chart-ring-duration"></div>
                <p id="transcripttitle">Speech Length per Speaker</p>
                <div id="chart-row-speakers"></div>
            </div>
            <div class="right_dashboard">
                <p id="transcripttitle">Transcript</p>
                <div id="chatbox"></div>
            </div>
        </div>
        <div id="call-to-action" class="centered">
            <div class="loader" id="processing_loader">
              <span class="head" id="filetype">Processing</span>
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <rect x="0" y="0" width="4" height="20" fill="#333">
                  <animate attributeName="opacity" attributeType="XML"
                values="1; .2; 1" 
                begin="0s" dur="0.6s" repeatCount="indefinite" />
                </rect>
                <rect x="7" y="0" width="4" height="20" fill="#333">
                  <animate attributeName="opacity" attributeType="XML"
                values="1; .2; 1" 
                begin="0.2s" dur="0.6s" repeatCount="indefinite" />
                </rect>
                <rect x="14" y="0" width="4" height="20" fill="#333">
                  <animate attributeName="opacity" attributeType="XML"
                values="1; .2; 1" 
                begin="0.4s" dur="0.6s" repeatCount="indefinite" />
                </rect>
              </svg>
            </div>
        </div>

        <script type="text/javascript" src="{{ static_url("js/d3.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/crossfilter.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/dc.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/main.js") }}"></script>
    </body>
</html>


