<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hark Visualizer</title>
        <link rel=stylesheet type=text/css href="{{ static_url("css/style.css") }}"></link>
        <link rel=stylesheet type=text/css href="{{ static_url("css/dc.css") }}"/>
        <script type="text/javascript" src="{{ static_url("js/d3.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/crossfilter.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/dc.js") }}"></script>
    </head>

    <body>
        <div class="header">
            <h1>
                <svg class="logo-sign" xmlns="http://www.w3.org/2000/svg" width="54" height="30" viewBox="-55 25 60 30" fill="#FFFFFF">
                    <g class="logo-sign__box">
                        <polygon class="logo-sign__line" points="-1,37.333 -1,42.667 -3,44 -3,36"/>
                        <polygon class="logo-sign__line" points="-5,33.333 -5,46.667 -7,48 -7,32"/>
                        <polygon class="logo-sign__line" points="-9,29.333 -9,50.667 -11,52 -11,28"/>
                        <polygon class="logo-sign__line" points="-13.5,25 -13,25.333 -13,54.667 -13.5,55 -15,54 -15,26"/>
                        <polygon class="logo-sign__line" points="-17,28.667 -17,51.333 -19,50 -19,30"/>
                        <polygon class="logo-sign__line" points="-21,32.667 -21,47.333 -23,46 -23,34"/>
                        <polygon class="logo-sign__line" points="-25,36.667 -25,43.333 -27,42 -27,38"/>
                    </g>
                    <g class="logo-sign__box">
                        <polygon class="logo-sign__line" points="-31,36.667 -31,43.333 -29,42 -29,38"/>
                        <polygon class="logo-sign__line" points="-35,32.667 -35,47.333 -33,46 -33,34"/>
                        <polygon class="logo-sign__line" points="-39,28.667 -39,51.333 -37,50 -37,30"/>
                        <polygon class="logo-sign__line" points="-42.5,25 -43,25.333 -43,54.667 -42.5,55 -41,54 -41,26"/>
                        <polygon class="logo-sign__line" points="-47,29.333 -47,50.667 -45,52 -45,28"/>
                        <polygon class="logo-sign__line" points="-51,33.333 -51,46.667 -49,48 -49,32"/>
                        <polygon class="logo-sign__line" points="-55,37.333 -55,42.667 -53,44 -53,36"/>
                    </g>
                </svg>
                Hark Visualizer
            </h1>
        </div>

        <div id="content" class="centered">

            <div id="chart-ring-duration"></div>
            <div id="chart-row-speakers"></div>


            <script type="text/javascript">
                var durationRingChart   = dc.pieChart("#chart-ring-duration"),
                    speakersRowChart = dc.rowChart("#chart-row-speakers");

                var connection = new WebSocket('ws://harkvisualizer.com/websocket');

                var data1 = [
                    {guid: 'Alice', elevation: 1, duration: 1, azimuth: 1},
                    {guid: 'Bob',   elevation: 1, duration: 1, azimuth: 2},
                ];

                // set crossfilter with first dataset
                var xfilter = crossfilter(data1),
                    durationDim  = xfilter.dimension(function(d) {return +d.duration;}),
                    elevationDim = xfilter.dimension(function(d) {return d.elevation;}),
                    guidDim  = xfilter.dimension(function(d) {return d.guid;}),
                  
                    durationPerElev = elevationDim.group().reduceSum(function(d) {return +d.duration;}),
                    durationPerName = guidDim.group().reduceSum(function(d) {return +d.duration;});

                function render_plots(){
                    durationRingChart
                        .width(300).height(300)
                        .dimension(elevationDim)
                        .group(durationPerElev)
                        .innerRadius(100);
                    speakersRowChart
                        .width(450).height(300)
                        .dimension(guidDim)
                        .group(durationPerName)
                        .elasticX(true);
                    dc.renderAll();
                }

                render_plots();

                // // data reset function (adapted)
                // function resetData() {
                //     var durationChartFilters = durationRingChart.filters();
                //     var speakerChartFilters = speakersRowChart.filters();
                //     durationRingChart.filter(null);
                //     speakersRowChart.filter(null);
                //     xfilter.remove();
                //     durationRingChart.filter([durationChartFilters]);
                //     speakersRowChart.filter([speakerChartFilters]);
                // }

                connection.onmessage = function(event) {
                    // resetData();
                    var newData = JSON.parse(event.data);
                    console.log(newData)
                    contexts = newData.context;
                    console.log(contexts)
                    for(entry = 0; entry < contexts.length; entry++){
                        guid = contexts[entry].guid
                        elevation = contexts[entry].elevation
                        duration = contexts[entry].duration
                        azimuth = contexts[entry].azimuth
                        var updateObject =[{
                            "guid": guid,
                            "elevation": elevation,
                            "duration": duration,
                            "azimuth": azimuth
                        }]
                        console.log(guid, elevation, duration, azimuth)
                        xfilter.add(updateObject);
                        dc.redrawAll();
                    }
                }
            </script>
        </div>
    </body>
</html>

